shootings.db
venv/
.idea/thoughts-and-prayers.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
counter/.DS_Store
.DS_Store
counter/.idea/counter.iml
counter/.idea/misc.xml
counter/.idea/modules.xml
counter/.idea/workspace.xml
counter/accessAPI.py