<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Send your thoughts & prayers</title>
</head>
<body>
	<div id="container">
		<p> Check out the difference your thoughts and prayers are making!!! "With all of the “thoughts and prayers” being offered, how is it possible that this keeps happening?" - Andrew Weinstein (@weinsteinlaw) </p>
		<h1> THOUGHTS AND PRAYERS: {{ number }} </h1>
		<h1> CHANGES MADE: 0 </h1>
	</div>
</body>
</html>