<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Send your thoughts & prayers</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/app.js"></script>
</head>
<body>
	<div id="container">
		<p> Check out the difference your thoughts and prayers are making!!! "With all of the “thoughts and prayers” being offered, how is it possible that this keeps happening?" - Andrew Weinstein (@weinsteinlaw) </p>
		<h1> THOUGHTS AND PRAYERS: <h1 id="count"> </h1> </h1>
		<h1> CHANGES MADE: 0 </h1>
		<h1> DEATHS: 121 </h1>
	</div>
</body>
</html>