<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Send your thoughts & prayers</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/app.js"></script>
    <audio autoplay id="america">
  		<source src="/static/music/this_is_america.mp3">
	</audio>
	<script>
  		var audio = document.getElementById("america");
  		audio.volume = 0.1;
	</script>
</head>
<body>
	<div class="topcontainer">
		<h1> Is this America?</h1>
		<p> Check out the difference your thoughts and prayers are making!!! </p>
		<p>"With all of the “thoughts and prayers” being offered, how is it possible that this keeps happening?" - Andrew Weinstein (@weinsteinlaw) </p>
	</div>
	<div class="middlecontainer">
		<h2> LAST SHOOTING: </h2>
		<h3> Noblesville </h3>
		<h2> THOUGHTS AND PRAYERS SINCE: <h3 id="count"> </h3> </h2>
		<h2> DEATHS IN 2018: </h2>
		<h3> 4685 </h3>
		<h2> LIVES SAVED: </h2>
		<h3> 0 </h3>
		<h2> LAWS CHANGED: </h2>
		<h3> 0 </h3>
	</div>
	<div class="bottomcontainer">
		<h1> Yup. This is America. </h1>
	</div>
</body>
<footer>
	<p>Made with ❤ in Austin. Built using the Twitter API. <a href="https://github.com/pyrito/thoughts-and-prayers"> Github </a></p>
</footer>
</html>